<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
{% include 'accounts/logout.html' %}
Admin panel
    <div class="create_credentials">
        <form method="post", action="{% url 'jobs_engine:create_credentials' %}">
          {% csrf_token %}
          <button type="submit">Create user</button>
        </form>
    </div>
Clients: <br>
{% for client in clients %}
    Name: {{client.profile.name}} <br>
    Surname: {{client.profile.surname}} <br>
    ------------------------- <br>
{% endfor %}

Employees: <br>
{% for employee in employees %}
    Name: {{employee.profile.name}} <br>
    Surname: {{employee.profile.surname}} <br>
    ------------------------- <br>
{% endfor %}
</body>
</html>