<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
    <body>
        <div class="create_credentials">
            {% if request.user.is_superuser %}
                <form method="post", action="{% url 'jobs_engine:create_credentials' %}">
                    {{form.as_p}}
                    {% csrf_token %}
                    <button type="submit">Create credentials</button>
                </form>
            {% endif %}
        </div>
    </body>
</html>