<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create profile</title>
</head>
    <body>
        <div class="create_profile">
                {% if request.user.is_superuser %}
                    <form method="post", action="{% url 'jobs_engine:create_profile' %}">
                        {{form.as_p}}
                        {% csrf_token %}
                        <button type="submit">Create profile</button>
                    </form>
                {% endif %}
            </div>
    </body>
</html>