<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Single task</title>
</head>
<body>
    <form>
     <input type="button" value="Back" onclick="history.back()">
    </form>
    Task name: {{task.task_name}} <br>
    Task status: {{task.status}} <br>
    Task description: <br>
    {{task.task_description}} <br>
    Files:<br>
    {% for file in task.files.all %}
        ({{file.type}}) {{file.file_name}} <br>
        <a  href="{% url 'jobs_engine:download' file.id %}"> Download file </a><br>
    {% endfor %}
    {% if not task.status == 'Finished' %}
        <form method="post", action="{% url 'jobs_engine:finished_view' task.id %}">
            {% csrf_token %}
            {{finished_form.as_p}}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
    {% if not task.status == 'Finished' %}
        {% if file_form %}
            <form enctype="multipart/form-data", method="post", action="{% url 'jobs_engine:single_task_view' task.id %}">
                {% csrf_token %}

                Add files: <br>
                {{file_form.as_p}}
                {{review_form.as_p}}
                <button type="submit">Submit</button>
            </form>
        {% endif %}
    {% endif %}

    {% if comments %}
        Comments:<br>
        {% for comment in comments %}
            {% if comment.type == 'Client\'s' %}
                <p align="right">({{comment.type}}) | {{comment.creation_date}} <br></p>
                <p align="right">{{comment.text|rjust:20}}<br></p>
            {% else %}
                ({{comment.type}}) | {{comment.creation_date}} <br>
                {{comment.text}} <br>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not task.status == 'Finished' %}
        <form method="post", action="{% url 'jobs_engine:comment_view' task.id %}">
            {% csrf_token %}
            {{comment_form.as_p}}
            <button type="submit">Submit</button>
        </form>
    {% endif %}
</body>
</html>