<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
{% include 'accounts/logout.html' %}
Admin panel
    <div class="create_user">
        <form method="post", action="{% url 'accounts:create_user' %}">
          {% csrf_token %}
          <button type="submit">Create user</button>
        </form>
    </div>
Clients: <br>
{% for client in clients %}
    Name: {{client.profile.name}} <br>
    Surname: {{client.profile.surname}} <br>
    <a href="{% url 'accounts:update_user' client.id %}">Update user</a><br>
    <a href="{% url 'accounts:delete_user' client.id %}">Delete user</a><br>
    ------------------------- <br>
{% endfor %}

Employees: <br>
{% for employee in employees %}
    Name: {{employee.profile.name}} <br>
    Surname: {{employee.profile.surname}} <br>
    Role: {{employee.position.position_name}} <br>
    <a href="{% url 'accounts:update_user' employee.id %}">Update user</a><br>
    <a href="{% url 'accounts:delete_user' employee.id %}">Delete user</a><br>
    ------------------------- <br>
{% endfor %}
</body>
</html>