<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    {% load static %}
    {% include 'jobs_engine/main_links.html' %}
    {% load crispy_forms_tags %}
</head>
    <body>
        <div class="centered">
            {% if request.user.is_superuser %}
                <form method="post", action="{% url 'accounts:create_user' %}">
                    {{user_form|crispy}}
                    {{profile_form|crispy}}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Create user</button><input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">
                </form>
            {% endif %}
        </div>
    </body>
</html>