<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete user</title>
    {% load static %}
    {% include 'jobs_engine/main_links.html' %}
    {% load crispy_forms_tags %}
</head>
    <body>
        <div class="better_centered">
            <h4>This action will permanently delete "{{profile_obj.name}} {{profile_obj.surname}}" user! Do you want to proceed?</h4>
            <form method="POST" action="">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete user</button><input type="button" class="btn btn-light" value="Cancel" onclick="history.back()">
            </form>
        </div>
    </body>
</html>