<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update team</title>
    {% load static %}
    {% include 'jobs_engine/main_links.html' %}
    {% load crispy_forms_tags %}
    <script src="{% static 'accounts/js/update_team.js' %}" type="text/javascript"></script>
</head>
    <body>
        <div class="centered">
            <form method="post", action="">
                {{form|crispy}}
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Update team</button><input type="button" class="btn btn-danger" value="Cancel" onclick="history.back()">
            </form>
        </div>
    </body>
    <script>
        let members={{members|safe}};
        checkBoxes(members);
    </script>
</html>